* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: clamp(4%, 1% + 2vw, 6.25%);
  font-family: "Poppins";

  --contact-hover: hsl(131, 42%, 55%);
  --git-hover: hsl(13, 74%, 53%);
  --linkedin-hover: hsl(47, 82%, 62%);
  --text-color: hsl(0, 0%, 100%);
  --text-color-gray: hsl(0, 0%, 60%);
  --bg-color: #001020;
  --border-profile: hsla(0, 0%, 45%, 0.65);
  --cursor-color: #258cf4;
}

html,
a {
  overflow: hidden;
  cursor: none;
}

#cursor {
  width: 16px;
  height: 16px;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--cursor-color);
  border: solid 0px var(--bg-color);
  border-radius: 50%;
  pointer-events: none;
  z-index: 99;
  transition: transform 80ms ease-out;
}

body {
  background: var(--bg-color);
}

header {
  display: flex;
  flex-direction: column;
}

#text {
  width: 50vw;
  margin-left: 40rem;
  animation: fadeIn 1.2s forwards;
}

header h1 {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 80rem;
  line-height: 96rem;
  color: var(--text-color);
}

header p {
  font-weight: 400;
  font-size: 20rem;
  line-height: 28rem;
  letter-spacing: 1rem;
  color: var(--text-color-gray);
  span {
    color: var(--text-color);
  }
}

#contactWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 40rem 40rem 0 0;
  img {
    -webkit-object-fit: cover;
    position: relative;
    object-fit: cover;
    width: 36px;
    height: 36px;
    border: 2px solid var(--border-profile);
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
  }
  a {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 20rem;
    line-height: 28rem;
    letter-spacing: 1rem;
    padding: 12rem 16rem;
    border-radius: 12rem;
    text-decoration: none;
    color: var(--text-color);
    margin-right: 16rem;
  }
}

#contactWrapper:hover {
  a {
    color: var(--contact-hover);
    transition: 300ms ease-in;
  }
  img {
    border: 2px solid var(--contact-hover);
    transition: 300ms ease-in;
  }
}

footer {
  display: flex;
}

footer #links {
  position: absolute;
  bottom: 0;
  margin: 24rem;
  a {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 20rem;
    letter-spacing: 1rem;
    line-height: 28rem;
    padding: 12rem 16rem;
    border-radius: 12rem;
    text-decoration: none;
    color: var(--text-color);
    animation-delay: 600ms;
  }
}

footer #links a:first-child:hover {
  color: var(--git-hover);
  transition: 300ms ease-in;
}

footer #links a:nth-child(2):hover {
  color: var(--contact-hover);
  transition: 300ms ease-in;
}

footer #links a:last-child:hover {
  color: var(--linkedin-hover);
  transition: 300ms ease-in;
}

@media (max-width: 766px) {
  body {
    display: flex;
    flex-direction: column;
  }

  #cursor {
    display: none;
  }

  #text {
    width: 80vw;
    height: 100vh;
    margin: 24rem;
  }

  header h1 {
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 60rem;
    line-height: 72rem;
    color: var(--text-color);
  }

  header p {
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    color: var(--text-color-gray);
    span {
      color: var(--text-color);
    }
  }

  #contactWrapper {
    margin: 20rem;
    img {
      position: relative;
      object-fit: cover;
      width: 36rem;
      height: 36rem;
      border: 2px solid var(--border-profile);
      border-radius: 50%;
    }
    a {
      font-size: 16rem;
      margin-right: 0;
    }
  }

  .status {
    bottom: 2rem;
    right: 2rem;
  }

  footer #links {
    margin: 0 0 24rem 8rem;
    a {
      font-size: 16rem;
      padding: 16rem;
    }
  }

}

#downloadFrame {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
